---
import Cursor from '@/Components/Cursor.astro'
import Layout from '@/Layouts/Layout.astro'
import About from '@/Sections/About.astro'
import Contact from '@/Sections/Contact.astro'
import Header from '@/Sections/Header.astro'
import Projects from '@/Sections/Projects.astro'
---

<Layout>
  <Cursor />
  <div
    class='mx-auto min-h-screen max-w-screen-xl px-6 py-12 md:px-12 md:py-16 lg:flex lg:justify-between lg:gap-4 lg:py-0'
  >
    <Header />
    <main class='flex flex-col gap-12 pt-24 lg:w-[52%] lg:py-24'>
      <About />
      <Projects />
      <Contact />
    </main>
  </div>
</Layout>
