<div
  id='cursor'
  class='pointer-events-none fixed inset-0 z-30 transition duration-300 hidden lg:block'
>
</div>

<style>
  #cursor {
    --color-gradient: rgba(100, 100, 100, 0.15);
    background: radial-gradient(
      500px at 50%,
      var(--color-gradient),
      transparent 80%
    );
  }
</style>

<script>
  const $cursor = document.getElementById('cursor') as HTMLDivElement
  const delay = 10
  let lastCall = 0

  const mouseMoveHandler = ({ clientX, clientY }: MouseEvent) => {
    const now = Date.now()
    if (now - lastCall < delay) return
    lastCall = now
    $cursor.style.background = `radial-gradient(500px at ${clientX}px ${clientY}px, var(--color-gradient), transparent 80%)`
  }
  document.addEventListener('mousemove', mouseMoveHandler)
</script>
