---
import SectionHeader from '../Components/SectionHeader.astro'
---

<section id='header' class='flex flex-col gap-4'>
  <SectionHeader title='Sobre mí' />
  <p>
    Mi interés por la programación comenzó en abril de 2022, cuando un amigo me
    enseñaba conceptos básicos dibujando código y flujos en su cuaderno, ya que
    no podíamos usar dispositivos electrónicos en el colegio.
  </p>
  <p>
    Como en ese momento no tenía acceso a la universidad, decidí aprender de
    manera autodidacta, siguiendo tutoriales en YouTube y desarrollando pequeños
    proyectos por mi cuenta.
  </p>
  <p>
    En julio de 2022, me inscribí en el <a
      class='font-semibold text-neutral-200 hover:text-neutral-300'
      href='https://itla.edu.do'
      target='_blank'
      rel='noreferrer noopener'
      title='ITLA'>Instituto Tecnológico de las Américas (ITLA)</a
    >, aunque debía esperar hasta enero de 2023 para comenzar las clases.
    Durante ese período, aproveché la oportunidad de formar parte del programa
    <a
      href='https://www.oracle.com/lad/education/oracle-next-education/'
      class='font-semibold text-neutral-200 hover:text-neutral-300'
      href='https://itla.edu.do'
      target='_blank'
      rel='noreferrer noopener'
      title='ONE'>Oracle Next Education</a
    > una experiencia de seis meses que, aunque cubría temas que ya conocía, me permitió
    reforzar mis habilidades y familiarizarme con metodologías ágiles y trabajo en
    equipo.
  </p>
  <p>
    Desde enero de 2023, curso la carrera en desarrollo de software en ITLA. A
    lo largo de estos dos años, he adquirido conocimientos en programación,
    bases de datos, diseño de interfaces, arquitectura de software, metodologías
    ágiles, análisis de datos, entre otras áreas. Actualmente, me encuentro a
    tan solo {new Date('2025-12-31').getMonth() - new Date().getMonth() + 1} meses
    de finalizar mi plan de estudios.
  </p>
</section>
