---
import SectionHeader from '@/components/SectionHeader.astro'
---

<section class='flex flex-col gap-4' id='contact'>
  <SectionHeader title='Contacto' />
  <div class='flex flex-col gap-4'>
    <p>
      ¿Tienes algún proyecto en mente? Contáctame directamente a <a
        class='font-semibold inline-block text-neutral-300 link-effect relative'
        target='_blank'
        rel='noreferrer noopener'
        href='mailto:adolforosa.dev@gmail.com'
        title='Mail to Adolfo'
      >
        <span class='sr-only'>Mail to Adolfo</span>
        adolforosa.dev@gmail.com
      </a>
    </p>
  </div>
</section>
