---
import Github from '@/components/icons/Github.astro'
import Linkedin from '@/components/icons/Linkedin.astro'
import NavLinks from '@/components/NavLinks.astro'
---

<header
  class='lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-[48%] lg:flex-col lg:justify-between lg:py-24'
>
  <div>
    <h1 class='text-4xl font-bold tracking-tight text-neutral-100 sm:text-5xl'>
      <a href='/'>Adolfo Rosa</a>
    </h1>
    <h2 class='text-md mt-2 font-semibold text-neutral-200 sm:text-xl'>
      Desarrollador Web
    </h2>
    <p class='mt-6 max-w-xs md:max-w-sm'>
      Programando side project tras side project, haciendo push y commits día a
      día y aprendiendo de manera constante.
    </p>
    <nav class='nav hidden lg:block'>
      <ul class='mt-16 w-max'>
        <NavLinks />
      </ul>
    </nav>
  </div>
  <ul class='mt-8 flex items-center'>
    <li class='mr-5 shrink-0'>
      <a
        class='text-neutral-500 hover:text-neutral-300'
        target='_blank'
        rel='noreferrer noopener'
        href='https://github.com/Ipambe'
        title='GitHub'
      >
        <span class='sr-only'>GitHub</span>
        <Github class='size-4 md:size-6' />
      </a>
    </li>
    <li class='mr-5 shrink-0'>
      <a
        class='text-neutral-500 hover:text-neutral-300'
        target='_blank'
        rel='noreferrer noopener'
        href='https://www.linkedin.com/in/adolfo-rosa/'
        title='LinkedIn'
      >
        <span class='sr-only'>LinkedIn</span>
        <Linkedin class='size-4 md:size-6' />
      </a>
    </li>
    <li class='mr-5 shrink-0'>
      <a
        class='font-mono md:text-lg text-neutral-500 hover:text-neutral-300'
        target='_blank'
        rel='noreferrer noopener'
        href='mailto:adolforosa.dev@gmail.com'
        title='Mail to Adolfo'
      >
        <span class='sr-only'>Mail to Adolfo</span>
        adolforosa.dev@gmail.com
      </a>
    </li>
  </ul>
</header>

<script>
  const sections = document.querySelectorAll('section')
  const navLinks = document.querySelectorAll('nav a')

  window.onscroll = () => {
    let current: string | null = null
    sections.forEach((section) => {
      const sectionTop = section.offsetTop
      if (pageYOffset >= sectionTop - 400) {
        current = section.getAttribute('id')
      }
    })

    navLinks.forEach((li) => {
      li.classList.toggle('active', li.getAttribute('href') === `#${current}`)
    })
  }
</script>
