---
import Linkedin from '../Components/Linkedin.astro'
import Github from '../Components/Github.astro'
---

<header
  class='lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-[48%] lg:flex-col lg:justify-between lg:py-24'
>
  <div>
    <h1 class='text-4xl font-bold tracking-tight text-neutral-100 sm:text-5xl'>
      <a href='/'>Adolfo Rosa</a>
    </h1>
    <h2 class='mt-3 text-xl text-neutral-200 font-semibold'>Desarrollador Web</h2>
    <p class='mt-6 max-w-xs'>
      Cuando aprendes a programar, tu visión del mundo cambia y te vuelves un creador de soluciones.
    </p>
  </div>
  <ul class='mt-8 flex items-center'>
    <li class='mr-5 shrink-0'>
      <a
        class='text-neutral-500 hover:text-neutral-300'
        target='_blank'
        rel='noreferrer noopener'
        href='https://github.com/Ipambe'
        title='GitHub'
      >
        <span class='sr-only'>GitHub</span>
        <Github className='size-6' />
      </a>
    </li>
    <li class='mr-5 shrink-0'>
      <a
        class='text-neutral-500 hover:text-neutral-300'
        target='_blank'
        rel='noreferrer noopener'
        href='https://www.linkedin.com/in/adolfo-rosa/'
        title='LinkedIn'
      >
        <span class='sr-only'>LinkedIn</span>
        <Linkedin className='size-6' />
      </a>
    </li>
    <li class='mr-5 shrink-0'>
      <a
        class='text-neutral-500 hover:text-neutral-300 text-lg'
        target='_blank'
        rel='noreferrer noopener'
        href='mailto:adolforosa.dev@gmail.com'
        title='LinkedIn'
      >
        <span class='sr-only'>Mail to Adolfo</span>
        adolforosa.dev@gmail.com
      </a>
    </li>
  </ul>
</header>
