---
import '@/styles/global.css'
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta
      name='description'
      content='Explora el portfolio de Adolfo Rosa para ver sus proyectos y habilidades en desarrollo web.'
    />
    <meta
      name='keywords'
      content='Adolfo Rosa, portfolio, desarrollo web, diseño, programación'
    />
    <meta name='author' content='Adolfo Rosa' />
    <meta
      property='og:title'
      content='Adolfo Rosa - Desarrollador Web Full-Stack'
    />
    <meta
      property='og:description'
      content='Explora el portfolio de Adolfo Rosa para ver sus proyectos y habilidades en desarrollo web.'
    />
    <meta property='og:image' content='https://ipambe.github.io/og.png' />
    <meta property='og:url' content='https://ipambe.github.io' />
    <meta property='og:type' content='website' />
    <meta name='twitter:card' content='summary_large_image' />
    <meta
      name='twitter:title'
      content='Adolfo Rosa - Desarrollador front-end, back-end y mobile'
    />
    <meta
      name='twitter:description'
      content='Explora el portfolio de Adolfo Rosa para ver sus proyectos y habilidades en desarrollo web.'
    />
    <meta name='twitter:image' content='https://ipambe.github.io/og.png' />

    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>Adolfo Rosa - Desarrollador web, mobile y backend</title>
  </head>
  <body class='bg-slate-950 text-slate-400'>
    <slot />
  </body>
</html>
